.input-component {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.input-component label {
    margin-bottom: .5rem;
}

.input-component input {
    padding: .5rem;
    font-size: 1.8rem;
    border-radius: 5px;
    border: 1px solid black;
}