.main-container {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-items: center;
    padding: 2rem;
    background-color: var(--cyan);
}

.main-container main {
    /* border: 1px solid black; */
    width: 100%;
    max-width: 1080px;
    padding: 2rem; 
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.main-container__input-sections {
    margin-bottom: 3rem;
}

.main-container__buttons {
    display: flex;
    gap: 1rem;
}

main textarea {
    display: block;
    width: 500px;
    height: 300px;
    padding: 1rem;
    margin: 0 auto;
}